<div class="m-4" style.height="auto">
    <mat-carousel
      #matCarousel
      timings="250ms ease-in"
      [autoplay]=true
      [interval]=2000
      [loop]=true
      [hideArrows]=false
      [hideIndicators]=true
      color="primary"
      maxWidth=auto
      [useKeyboard]=true
      [useMouseWheel]=false
      [slides]="slides"
      [maintainAspectRatio]="true"
      [proportion]=40
      slideHeight="100vh"
    >
    <!--maintainAspectRatio : If true, use proportion to determine height, else slideHeight is used.-->
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slidesList"
        image="{{slide}}"
        overlayColor="#00000040"
        [hideOverlay]=false
      >
      </mat-carousel-slide>
    </mat-carousel>
  </div>