:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .message {
    padding: 10px;
    width: 300px;
    color: white;
    background-color: red;
    border-radius: 5px;
  }

  .flex-center {
    display: flex;
    place-content: center;
}